.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: lightgray 1px solid;
    margin-bottom: 3rem;
}
img {
    border-radius: 15px;
}
img:hover {
    transform: scale(1.08);
}
li:hover {
    font-weight: bold;
    color: red;
}
